{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "minify"
    ],
    "plugins": [
        "add-module-exports"
    ]
}